<div class="fields subform">
  <div class="sub-field">
    <%= f.label :barcode, "Codice a barre" %>
    <%= f.text_field :barcode %>
  </div>
  <div class="sub-field">
    <%= f.label :size, "Taglia" %>
    <%= f.text_field :size %>
  </div>
  <div class="sub-field">
    <%= f.link_to_remove "Elimina" %>
  </div>
</div>
