<%= form_for([@order,@model]) do |f| %>

  <%= render 'shared/error_messages', :object => @model %>

  <div class="affiancati">
    <%= f.label :code, "Codice" %><br />
    <%= f.text_field :code %>
  </div>
  <div class="affiancati">
    <%= f.label :description, "Descrizione modello" %><br />
    <%= f.text_field :description, :size => '80' %>
  </div>
  <div class="affiancati">
    <%= f.submit :class => "ui-state-default" %>
  </div>
<% end %>
