<%= form_for([@order,@model,@article]) do |f| %>

  <%= render 'shared/error_messages', :object => @article %>

  <div class="affiancati">
    <%= f.label :barcode, "Codice a barre" %><br/>
    <%= f.text_field :barcode %>
  </div>
  <div class="affiancati">
    <%= f.label :size, "Taglia" %><br/>
    <%= f.text_field :size %>
  </div>
  <div class="actions affiancati">
    <%= f.submit :class => "ui-state-default" %>
  </div>

<% end %>
