<div class="ui-widget ui-widget-header ui-corner-top titolo-pagina">Elenco articoli per il modello "<%= @model.code %>"</div>
<div class="ui-widget ui-widget-content ui-corner-bottom">
  <div class="contestual-menu">
    <%= link_to 'Indietro', order_models_path(@order), :class => "ui-state-active no-underline ui-corner-all ui-priority-primary contestual-link" %>
  </div>
  <div id="container">
    <%= render 'form' %>
    <% if @articles.length > 0 %>
      <table class="ui-widget ui-widget-content ui-corner-all tabella-elenco espandi collapse">
        <tr class="ui-widget ui-widget-header">
          <th class="centra">Codice a barre</th>
          <th class="centra">Taglia</th>
          <th colspan="2"></th>
        </tr>

        <% @articles.each do |article| %>
          <tr>
            <td class="centra"><%= article.barcode %></td>
            <td class="centra"><%= article.size %></td>
            <td class="centra"><%= link_to 'Modifica', edit_order_model_article_path(@order,@model,article) %></td>
            <td class="centra"><%= link_to 'Elimina', order_model_article_path(@order,@model,article), :confirm => 'Procedere con la cancellazione?', :method => :delete %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>Nessun articolo disponibile</p>
    <% end %>
  </div>
  <br/>
</div>
