<%= form_for(@order) do |f| %>

  <%= render 'shared/error_messages', :object => @order %>

  <div class="affiancati">
    <%= f.label :date %><br />
    <%= f.text_field :date, :value => (@order.date.strftime("%d/%m/%Y") if @order.date) %>
  </div>
  <div class="affiancati">
    <%= f.label :expiration_date %><br />
    <%= f.text_field :expiration_date, :value => (@order.expiration_date.strftime("%d/%m/%Y") if @order.expiration_date) %>
  </div>
  <div class="affiancati">
    <%= f.submit :class => "ui-state-default" %>
  </div>
<% end %>