<div class="fields">
  <div class="sub-field">
    <%= f.label :model, "Codice" %>
    <%= f.collection_select :model, @models, :id, :code %>
  </div>
  <div class="sub-field">
    <%= f.label :size, "Taglia" %>
    <%= f.text_field :size %>
  </div>
  <div class="sub-field">
    <%= f.label :quantity, "Quantità" %>
    <%= f.text_field :quantity %>
  </div>
  <div class="sub-field">
    <%= f.link_to_remove "Elimina" %>
  </div>
</div>
