<h1>Elenco ordini</h1>
<%= render 'form' %>
<% if @orders.length > 0 %>
  <table>
    <tr>
      <th>Data ordine</th>
      <th>Data di scadenza</th>
      <th>Pezzi Ordinati</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @orders.each do |order| %>
      <tr>
        <td><%= order.date.strftime("%d/%m/%Y") %></td>
        <td><%= order.expiration_date.strftime("%d/%m/%Y") %></td>
        <td>???</td>
        <td><%= link_to 'Dettagli', order_order_lines_path(order) %></td>
        <td><%= link_to 'Modifica', edit_order_path(order) %></td>
        <td><%= link_to 'Elimina', order, :confirm => 'Are you sure?', :method => :delete %></td>
        <td><%= link_to 'Anagrafica', order_models_path(order) %></td>
        <td><%= link_to "Consegne (#{order.deliveries.count})", order_deliveries_path(order) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Nessun ordine disponibile</p>
<% end %>