<!DOCTYPE html>
<html>
  <head>
    <title>OrderManager</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'jquery/jquery-1.4.4.min' %>
    <%= javascript_include_tag 'jquery/jquery-ui-1.8.10.custom.min' %>
    <%= javascript_include_tag 'rails', 'application', 'nested_form' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= link_to "Modelli", models_path %> |
    <%= link_to "Ordini", orders_path %>
    <% if notice %>
      <div id="notice" class="ui-widget ui-corner-all flash notice">
        <span id="notice-text"><%= notice %></span>
      </div>
    <% end %>
    <% if alert %>
      <div id="alert" class="ui-widget ui-state-error ui-corner-all flash alert">
        <span class="ui-icon ui-icon-alert"></span> <span id="notice-text"><%= alert %></span>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
